{% include "require/head.html" %}

<!-- Cart Menu -->
<h2 id="your-cart" class="text-center">Your cart</h2>
<div class="container pt-5">
    <div class="container-fluid">
    <table class="table table-borderless">
        <thead>
            <tr class="d-flex">
                <th class="col-6 cart-text">Product</th>
                <th class="col-2 cart-text">Price</th>
                <th class="col-2 cart-text">Quantity</th>
                <th class="col-2 cart-text">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                <tr class="d-flex">
                    <th class="col-2 cart-text"><img src="{{path}}/www/img/products/{{item.image}}" class="img-fluid neg-margin"</th>
                    <th class="col-4 pl-5">
                        <h5 class="cart-text">{{ item.name }}</h5>
                        <br>
                        <h5 class="cart-text truncate"><i>{{ item.description }}</i></h5>
                        <form action="{{path}}/cart.php" method="post">
                            <button type="submit" name="delete" value="{{ item.id }}" class="btn btn-secondary mt-2">Remove</button>
                        </form>
                    </th>
                    <th class="col-2 cart-text">${{ item.price / 100 }}</th>
                    <th class="col-2 cart-text">{{ item.quantity }}</th>
                    <th class="col-2 cart-text">${{ (item.price / 100 * item.quantity)|round(2) }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if total == 0 %}
        <h4 class="text-center text-muted">Your cart is empty!</h4>
    {% endif %}
    <hr class="pt-3">
        <div class="row">
            <div class="col">
                <h5 class="cart-text text-right"><b>Subtotal<b></h5>
            </div>
            <div class="col"><h5 class="cart-text text-right">${{ total }}</h5></div>
        </div>
    <br>
    <h5 class="cart-text text-right"><i>Shipping & taxes calculated at checkout</i></h5>
    <div class="float-right mt-3">
        <a href="{{path}}/index.php" class="btn btn-secondary mr-4">CONTINUE SHOPPING</a>
        <button type="button" class="btn btn-info" {{ not total ? 'disabled' : ''}}>CHECKOUT</button>
    </div>
</div>
