{% include "require/head.html" %}

<!-- SHOP -->
<div class="container">
    <h1 class="text-center mt-5 title-text">OpenShop Stock</h1>
    <div class="container">
        <div class="row">
            {% for product in products %}
            <a href="{{path}}/item.php?id={{product.id}}" class="black-font col-xl-3 col-md-6 p-3">
                <img src="{{path}}/www/img/products/{{product.image}}" class="img-fluid product-image">
                <h4>{{ product.name }}</h4>
                {{ not product.quantity ? '<s>' : '' }}
                    <h5>
                        ${{ product.price / 100 }} 
                        {% if product.quantity != -1 %}
                            <span class="badge badge-primary float-right">{{product.quantity ? product.quantity : 'Out of Stock!'}}</span>
                        {% endif %}
                    </h5>
                {{ not product.quantity ? '</s>' : '' }}
            </a>
            
            {% endfor %}
        </div>
    </div>
    <p class="mt-3"><i>Want to track an order? Checkout the <a href="#">order tracker</a>.</i></p>
</div>

</body>
</html>